{% extends "Admin/core.html.twig" %}

{% block navbar %}
<ul class="nav navbar-nav">
    <li class="active" role="presentation"><a href="#">Home </a></li>
    <li role="presentation"><a href="#">Aanmeldingen </a></li>
    <li role="presentation"><a href="#">Third Item</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
    {% if is_granted('ROLE_AFDELING_MANAGEMENT') %}  
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Mijn Afdeling<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a href="#">Mijn Medewerkers</a></li>
            <li role="presentation"><a href="#">Mijn Taken</a></li>
            <li role="presentation"><a href="#">Mijn Rechten</a></li>
            <li class="divider" role="presentation"></li>
            <li role="presentation"><a href="#">Instellingen </a></li>
        </ul>
    </li>
    {% endif %}
    {% if is_granted('ROLE_APPLICATION_MANAGEMENT') %}  
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Software Instellingen<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a href="#">Afdelingen </a></li>
            <li role="presentation"><a href="#">Accounts </a></li>
            <li role="presentation"><a href="#">Software </a></li>
            <li role="presentation"><a href="#">Over </a></li>
        </ul>
    </li>
    {% endif %}
    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Account <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a href="#">Mijn Account</a></li>
            <li role="presentation"><a href="#">Mijn Gegevens</a></li>
            <li class="divider" role="presentation"></li>
            <li role="presentation"><a href="#">Mijn Berichten</a></li>
            <li role="presentation"><a href="#">Mijn Taken</a></li>
            <li class="divider" role="presentation"></li>
            <li role="presentation"><a href="{{ path("logout") }}">Logout </a></li>
        </ul>
    </li>
</ul>
{% endblock %}