<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Round Texel Medewerkers {% block title %}{% endblock %}</title>
    {% block stylesheets %}
            <link rel="stylesheet" href="assets/vendor/bootswatch/spacelab/bootstrap.min.css">
            <link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">
            <link rel="stylesheet" href="assets/vendor/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css">
            <link rel="stylesheet" href="assets/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700">
            <link rel="stylesheet" href="assets/vendor/metismenu/dist/metisMenu.min.css">
            <link rel="stylesheet" href="assets/vendor/roundtexel/css/extender.css">
            {% block extraStylesheets %}{% endblock %}
        {% endblock %}
</head>

<body>
    <nav class="navbar navbar-inverse" style="margin:0;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand pull-right" href="#"> <img src="https://registrations.roundtexel.com/assets/images/ROTLogo.png" height="26px"></a>
                <button class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#navcol-1" style="margin-right:0;margin-left:15px;"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="active" role="presentation"><a href="#">Round Texel Medewerkers</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Giovanni Le Grand<img src="https://secure.gravatar.com/avatar/cacf063908b436afc988b37504d6cecf?s=26&d=mm&r=g" height="20px" style="margin-left:10px;">  </a>
                        <ul
                        class="dropdown-menu" role="menu">
                            <li role="presentation"><a href="{{path("account")}}">Mijn Account</a></li>
                            <li role="presentation"><a href="{#path("personalInformation")#}">Mijn Gegevens</a></li>
                            <li class="divider" role="presentation"></li>
                            <li role="presentation"><a href="{#path("messages")#}">Mijn Berichten</a></li>
                            <li role="presentation"><a href="{#path("jobsPersonal")#}">Mijn Taken</a></li>
                            <li class="divider" role="presentation"></li>
                            <li role="presentation"><a href="{{ path("logout") }}">Uitloggen </a></li>
	                	</ul>
	                </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <aside class="col-md-2 visible-md-block visible-lg-block hidden-xs hidden-sm">
                <ul class="metismenu">
                    <li><a href="{# path("registrations") #}">Aanmeldingen </a></li>
                    <li>
                    	<a aria-expanded="false" href="#" class="has-arrow">Mijn Afdeling</a>
                        <ul aria-expanded="false">
                            <li role="presentation"><a href="{# path("employees")#}">Mijn Medewerkers</a></li>
                            <li role="presentation"><a href="{# path("jobsDepartment") #}">Mijn Taken</a></li>
                            <li role="presentation"><a href="{# path("rightsDepartment") #}">Mijn Rechten</a></li>
                            <li class="divider" role="presentation"></li>
                            <li role="presentation"><a href="{# path("settingsDepartment") #}">Instellingen </a></li>
                        </ul>
                    </li>
                    <li><a aria-expanded="false" href="#" class="has-arrow">Software Instellingen</a>
                        <ul aria-expanded="false">
                            <li role="presentation"><a href="{# path("departments") #}">Afdelingen </a></li>
                            <li role="presentation"><a href="{# path("accounts") #}">Accounts </a></li>
                            <li role="presentation"><a href="{# path("settings") #}">Software </a></li>
                            <li role="presentation"><a href="#">Over </a></li>
                        </ul>
                    </li>
                </ul>
            </aside>
            <main class="col-md-10">
            	{% block content %}
            	{% endblock %}
            </main>
        </div>
    </div>
    {% block javascripts %}
        <script src="assets/vendor/jquery/dist/jquery.min.js"></script>
        <script src="assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="assets/vendor/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
        <script src="assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
        <script src="assets/vendor/metisMenu/dist/metisMenu.min.js"></script>
        <script src="assets/vendor/roundtexel/js/admin.min.js"></script>
        {% block customscripts %}{% endblock %}
    {% endblock %}
</body>

</html>