{#{% extends "base.html.twig" %}

{% block title %}login{% endblock %}

{% block content %}
<div class="container">
	<div class="row col-xs-12 col-lg-6 col-lg-offset-3">
		{% if error %}
			<div class="bg-danger text-center">{{ error.message }}</div>
		{% endif %}
		<h1 class="text-center">Inloggen</h1>
		<form action="{{ path('login') }}" method="post">
			<input type="email" class="form-control" placeholder="Email-adres" name="_email" required value="{{ last_email }}" />
			<input type="password" name="_password" placeholder="Wachtwoord" required class="form-control" />
			<div class="pull-left checkbox-spacer">
				<label>
					<input type="checkbox" name="_remember_me" checked data-size="mini"> Onthoud Mij
				</label>
			</div>
			<button class="btn btn-primary pull-right" type="submit">Login</button>
		</form>
	</div>
</div>
{% endblock %}

{% block customscripts %}
<script>
	(function(){
		$("input[type='checkbox'], input[type='radio']").bootstrapSwitch();
	})();
</script>
{% endblock %}
#}
<!DOCTYPE html>
<html>
	<head>
	    <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Round Texel Medewerkers login</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="assets/vendor/bootswatch/spacelab/bootstrap.min.css">
            <link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">
            <link rel="stylesheet" href="assets/vendor/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css">
            <link rel="stylesheet" href="assets/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css">
            <link rel="stylesheet" href="assets/vendor/roundtexel/css/extender.css">
            {% block extraStylesheets %}{% endblock %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="favicon.ico" />
	</head>
	<body>
	    <div class="login-dark">
	        <form method="post" action="{{ path('login') }}">
	            <h2 class="sr-only">Round Texel Medewerkers Login</h2>
	            <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
	            <div class="form-group">
	                <input class="form-control" type="email" name="email" placeholder="Email">
	            </div>
	            <div class="form-group">
	                <input class="form-control" type="password" name="password" placeholder="Password">
	            </div>
	            <div class="form-group">
	                <button class="btn btn-primary btn-block" type="submit">Log In</button>
	            </div><a href="#" class="forgot">Forgot your email or password?</a><a href="#">Back to website</a></form>
	    </div>
	    {% block javascripts %}
            <script src="assets/vendor/jquery/jquery.min.js"></script>
            <script src="assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
            <script src="assets/vendor/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
            <script src="assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
            {% block customscripts %}{% endblock %}
        {% endblock %}
	</body>
</html>